.create-question-form-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* margin: auto; */
    height: 46vw;
    background-color: #efeff1 !important;
    height: 70vw;
 }

 /* .left-nav-bar {
    margin-top: 45px;
    border-right: 1px solid #e0e0e0;
    padding-right: 100px;
    padding-top: 40px;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #0c0d0e;
 } */

.question-header {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: absolute;
    left: 100px !important;
    top: 50px;
}

.question-header h1 {
    padding-bottom: 50px;
    /* padding-left: 30px; */
    /* border-bottom: 1px solid #e0e0e0; */
    font-size: 1.6rem;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.question-content {
    box-shadow: 0 0 3px 1px rgba(85, 84, 84, 0.404);
    display: flex;
    flex-direction: column;
    background: white !important;
    width: 60vw;
    height: 30vw;
    padding: 15px 14px;
    font-weight: bold;
    line-height: 15px;
}

.question-content p {
    font-size: 0.9rem;
    font-weight: normal !important;
    margin: 5px 0px;
}

.question-content .body2 {
    margin-top: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: 700;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.question-input {
    width: 50vw;
    display: flex;
    align-items: center;
}
.question-input-body {
    width: 50vw;
    height: 200px;
    display: flex;
    align-items: center;
}

.right {
    position: absolute;
    left: 1000px !important;
    top: 185px;
    box-shadow: 0 0 3px 1px rgba(85, 84, 84, 0.404);
    background-color: white;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    z-index: 1 !important;
}

.right_header {
    background: #eff0f1 !important;
    height: 20px;
    padding: 10px 20px;
}

.question-submit {
    margin-top: 20px;
}