.public {
  margin-top: 20px;
  font-weight: lighter;
  color: gray;
}

.public-content {
  margin-left: 13px;
  margin-top: 10px;
  line-height: 2.5;
}

#globe-img {
  vertical-align: middle; 
  margin-bottom: 3px;
}

.tags {
  font-weight: 600;
}

.users {
  font-weight: 600;
}

.tags:hover {
  color: gray;
}

.users:hover {
  color: gray;
}

.left-nav-bar {
  width: 11vw;
  margin-top: 45px;
  border-right: 1px solid #e0e0e0;
  padding-top: 40px;
  list-style-type: none;
  text-decoration: none;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #0c0d0e;
}