.question-show-page {
    display: flex;
    flex-direction: row;
    width: 85vw;
    margin: auto;
    height: 50vw;
}

.question-title {
    padding: 82px 30px;
    font-size: 1.8rem;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #8B0000;
}

.question-show-page ul{
    padding: 0px 30px;
    border-bottom: 1px solid #e0e0e0;
}

.question-show-page h3 {
    font-size: 1.4rem;
    margin-top: 80px;
}

.question-body {
    display: flex;
    flex-direction: row;
    margin: 30px 30px;
    font-size: 18px;
    
}

.divider {
    width: 50vw;
    font-size: 0px;
    border-bottom: 1px solid #e0e0e0;
}

.right-nav-header {
    background: #eff0f1;
    height: 20px;
    padding: 10px 20px;

}

.question-show-content {
    flex-direction: column;
}

#answer-content {
    margin: 30px 30px;
    font-size: 18px;
}

.btns {
    margin-left: 100px;
    font-size: 10px;
}

.question-body  #vote-btn {
    display: flex;
    flex-direction: column !important;
}

.vote-btns {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#edit-btn {
    color: black;
    display: inline-block;
	outline: none;
	cursor: pointer;
    border: solid 1px black;
    /* background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59); */
    /* background: #478dad; */
    margin-right: 5px;
    background-color: rgb(239, 239, 239);
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	padding: 4px 18px;
	/* text-shadow: 0 1px 1px rgba(0,0,0,.3); */
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#delete-btn {
    color: black;
    font: 12px/100% Arial, Helvetica, sans-serif;
    border: solid 1px black;
    /* padding: 2.3px 11px; */
    padding: 4px 14px;
    -webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}